@import "tailwindcss";


@layer base {
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #1f2937 inset !important;
        /* dark:bg-gray-800 */
        -webkit-text-fill-color: #fff !important;
    }
}